.camera-main{
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -70px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.camera-main .video{
    max-width: 1020px;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
    display: flex;
    gap: 5px;
}

.camera-main .video .video-main{
    flex-grow: 1;
}

.camera-main .video video,
.camera-main .video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.camera-main .video .list-word{
    min-width: 300px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    overflow: auto;
    position: relative;
}

.camera-main .video .list-word .title{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.camera-main .video .list-word .title figure{
    height: 24px;
}

.camera-main .video .list-word .title figure img{
    height: 100%;
    width: auto;
}

.camera-main .video .list-word ul{
    display: flex;
    list-style: none;
    gap: 10px;
    width: max-content;
    flex-flow: column;
    width: 100%;
}

.camera-main .voca{
    width: 100%;
    max-width: 1020px;
    min-height: 146px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    position: relative;
}


.camera-main .voca ul{
    display: flex;
    height: 100%;
    list-style: none;
    gap: 10px;
    width: max-content;
}

.camera-main .video .list-word ul .item,
.camera-main .voca ul .item{
    box-sizing: border-box;
    height: 100%;
    background-color: #d9d9d9;
    width: 245px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}

.camera-main .video .list-word ul .item{
    width: 100%;
    padding: 23px;
}

.camera-main .video .list-word ul .word,
.camera-main .voca .word{
    font-weight: bold;
    font-size: 20px;
}

.camera-main .video .list-word ul .mean,
.camera-main .voca .mean{
    font-size: 20px;
    font-style: italic;
}

.camera-main .video .list-word ul .item figure,
.camera-main .voca ul .item figure{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

.camera-main .video .list-word ul .item figure img,
.camera-main .voca ul .item figure img{
    width: 100%;
    height: auto;
}

.camera-main .video .list-word .exit{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.camera-main .video .list-word .exit img{
    height: 100%;
    width: auto;
}

.camera-main .voca .show-list{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background-color: #d9d9d9;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
}

.camera-main .voca .show-list img{
    height: 60%;
    width: auto;
    transition: transform 0.25s ease-in-out;
}

.camera-main .voca .show-list img:hover{
    transform: rotate(360deg);
}

.camera-main .voca .show-list p{
    position: absolute;
    font-size: 10px;
    height: 14px;
    width: 14px;
    text-align: center;
    line-height: 14px;
    color: white;
    background-color: red;
    border-radius: 14px;
    top: -3px;
    right: -3px;
}

.camera-main .mode{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(217, 217, 217, 0.8);
    display: flex;
    height: 36px;
    width: 96px;
    border-radius: 36px;
    overflow: hidden;
    cursor: pointer;
}

.camera-main .mode figure{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.25s;
}

.camera-main .mode figure img{
    height: 20px;
    width: auto;
}

@media screen and (max-width: 440px) {
    .camera-main{
        padding: 0 10px;
        box-sizing: border-box;
    }

    .camera-main .mode.hide{
        display: none;
    }

    .camera-main .voca{
        box-sizing: border-box;
        min-height: 124px;
    }

    .camera-main .voca ul .item{
        width: 156px;
        gap: 5px;
        padding: 20px;
    }

    .camera-main .voca .word{
        font-size: 16px;
    }

    .camera-main .voca .sym{
        font-size: 14px;
    }

    .camera-main .voca .mean{
        font-size: 16px;
    }
}